<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Assign Client To Project</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>

    <body>
        <header class="bg-dark text-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Assign Client To Project</h1>
                    </div>
                </div>
            </div>
        </header>

        <main class="container mt-4">
            <section id="form" class="bg-light py-5">
                <div class="container">
                    <h5> Assigned client to project successfully</h5>
                    <p>Stub.</p>
            </section>
        </main>
    </body>
</html>