<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Delete delivery employee</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>
        <header class="bg-dark text-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Delete delivery employee</h1>
                    </div>
                </div>
            </div>
        </header>
        <main class="container mt-4">
            <section id="form" class="bg-light py-5">
                <div class="container">
                    <p>Choose delivery employee to delete</p>
                    <form action="/delete-delivery-employee" method="post">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <select id="name" name="employeeId" class="form-control" required>
                                {% for deliveryemployee in deliveryemployees %}
                                    <option value="{{ deliveryemployee.employeeId }}">{{ deliveryemployee.name }}</option>
                                {% endfor %}
                            </select>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </section>
        </main>
    </body>
</html>