<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Soniak Bew</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>
        <header class="bg-dark text-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Welcome, {{ username }}</h1>
                    </div>
                </div>
            </div>
        </header>
        <main class="container mt-4">
            <section id="form" class="bg-light py-5">
                <div class="container">
                    <h2>Delivery Employee Management</h2>
                    <a href="/add-delivery-employee" class="btn btn-dark">Add Delivery Employee</a>
                    <a href="/list-delivery-employees" class="btn btn-dark">View Delivery Employees</a>
                    <a href="/delete-delivery-employees" class="btn btn-dark">Delete Delivery Employees</a>

                    <h2>Sales Employee Management</h2>
                    <a href="/list-salesemployees" class="btn btn-dark">View Sales Employees</a>
                    <a href="/add-salesemployee-name-salary" class="btn btn-dark">Create Sales Employee</a>

                    <h3>Clients Management</h3>
                    <a href="/client" class="btn btn-dark">View Clients</a>
                    <a href="/client/assign-project" class="btn btn-dark">Assign client to project</a>
                    <a href="/client/highest-value" class="btn btn-dark">View Highest Value Client</a>

                    <h2>User</h2>
                    <a href="/logout" class="btn btn-dark">Logout</a>
                </div>
            </section>
        </main>
    </body>
</html>