<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Soniak Bew</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>
        <header class="bg-dark text-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Welcome</h1>
                    </div>
                </div>
            </div>
        </header>
        <main class="container mt-4">
            <section id="form" class="bg-light py-5">
                <div class="container">
                    <h2>Delivery Employee Management</h2>
                    <a href="/add-delivery-employee" class="btn btn-primary">Add Delivery Employee</a>
                    <a href="/list-delivery-employee" class="btn btn-primary">View Delivery Employees</a>
                    <h2>Sales Employee Management</h2>
                    <a href="/list-salesemployees" class="btn btn-primary">View Sales Employees</a>
                </div>
            </section>
        </main>
    </body>
</html>